@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_ForgetPasswordAndResetPassword.cshtml";
}


@*popup way one*@
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = '@Html.Raw(TempData["ResetMessage"])';
        if (message) {
            Swal.fire({
                title: '✔️ تم الإرسال!',
                text: message,
                icon: 'success',
                confirmButtonText: 'تمام'
            });
        }
    });
</script>



@*popup way one*@
@* @if (TempData["SuccessMessage"] != null) *@
@* { *@
@*     <div class="alert alert-success alert-dismissible fade show text-center" role="alert"> *@
@*         @TempData["SuccessMessage"] *@
@*         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> *@
@*     </div> *@
@* } *@


<main class="flex-grow-1">
    @*for show all validation*@
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="container py-5 d-flex justify-content-center align-items-center min-vh-100">
        <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Pharmacy Portal</h2>
                        <p class="text-muted text-center mb-4">
                            Forgot your password? No worries. Enter your email and we'll send you a reset link.

                        </p>

                        @* login form *@
                        <div class="tab-content" id="pharmacyTabsContent">
                            <div class="tab-pane fade show active" id="login-tab-pane" role="tabpanel" aria-labelledby="login-tab" tabindex="0">
                                <form asp-action="SendRestePasswordUrl" method="post">
                                    <div class="mb-3">
                                        <label asp-for="Email" class="form-label"></label>
                                        <input asp-for="Email" class="form-control mt-2" placeholder="pharmacy@example.com" required>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <button type="submit" class="btn btn-primary w-100 mt-3">Reset Password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
